<!-- attention to the "./" because this is in the root folder-->
<%- include ("partials/header")%>

<h1>Login!</h1>
<form action="/login" method="POST">
    <input type="text" name="username" value="" placeholder="username">
    <input type="password" name="password" value="" placeholder="password">
    <input type="submit" name="" value="Login!">
</form>

<%- include ("partials/footer")%>
